
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="accesses-page">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2><a href="<%= process.env.V1_SERVER_BASE_URI + '/Member.mvc/Summary?oidToken=' + user._oid %>"><%= user.Name %></a></h2>
    <h2>Accesses Summary</h2>
    <table class="accesses-for-users">
      <thead>
        <tr>
          <td class="access-time-column">Timeframe</td>
          <td class="access-time-column">Login Count</td>
        </tr>
      </thead>
      <tbody>
      <% histogram.forEach(function (entry) { %>
        <tr>
          <td><%= entry.boxName %></td>
          <td><%= entry.count %></td>
        </tr>
      <% });%>
      </tbody>
    </table>
    <h2>Accesses Details</h2>
    <table class="accesses-for-users">
      <thead>
        <tr>
          <td class="access-time-column">Login Time</td>
          <td class="user-agent-column">Agent</td>
        </tr>
      </thead>
      <tbody>
      <% data.forEach(function (historyEntry) { %>
        <tr>
          <td><%= historyEntry.moment.format('LLLL') %></td>
          <td><%= historyEntry.agentSummary %></td>
        </tr>
      <% });%>
      </tbody>
    </table>
  </body>
</html>