
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="accesses-page">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2></h2>
    <h2>Accesses Summary</h2>
    <table class="accesses-for-users">
      <thead>
        <tr>
          <td class="access-time-column">Timeframe</td>
          <% data.forEach(function (userData) { %>
            <td class="user-column"><a href="<%= process.env.V1_OAUTH_SERVER_BASE_URI + '/Member.mvc/Summary?oidToken=' + userData.user._oid %>"><%= userData.user.Name %></a></td>
          <%  });%>
        </tr>
      </thead>
      <tbody>
      <% for (var i = 0; i < data[0].histogram.length; ++i) { %>
        <tr>
          <td><%= data[0].histogram[i].boxName %></td>
          <% data.forEach(function (userData) { %>
            <td><%= userData.histogram[i].countSummary %></td>
          <% }); %>
        </tr>
      <% };%>
      </tbody>
    </table>
  </body>
</html>