<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<ul>
  <li><a href="/user/<%= userId %>/done-tasks<%= query%>">Task Cadence</a></li>
  <li><a href="<%= process.env.V1_SERVER_BASE_URI + '/Member.mvc/Summary?oidToken=' + userId %>">V1 User Page</a></li>
</ul>


</body>
</html>
