
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <li>(Would you like to see the <a href="/users/flagged">flagged</a> users?)</li>
    <li>(Would you like to see the flagged users' <a href="/users/flagged/tasks">tasks</a>?)</li>
    <li>(Would you like to see the flagged users' <a href="/users/flagged/accesses">access history</a>?)</li>
    </ul>
    <p>Welcome to <%= title %></p>
    <form id="allusers" method="post">
      <table>
        <thead>
          <tr><td>_oid</td><td>Name</td><td>Nickname</td><td>Selected?</td></tr>
        </thead>
        <tbody>
          <% users.forEach(function (user) { %>
              <tr>
                <td><%= user._oid %></td>
                <td><a href="/users/<%= user._oid %>"><%= user.Name %></a></td>
                <td><%= user.Nickname %></td>
                <td>
                  <input
                      type="checkbox"
                      name="selectedUsers"
                      value="<%= user._oid %>"
                      <%= isChecked(user._oid) %>>
                </td>
              </tr>
            <% }) %>
        </tbody>
      </table>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>