
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <li>(Would you like to see the <a href="/users/flagged<%= query %>">flagged</a> users?)</li>
    <li>(Would you like to see the flagged users' <a href="/users/flagged/tasks">tasks</a>?)</li>
    <li>(Would you like to see the flagged users' <a href="/users/flagged/accesses">access history</a>?)</li>
    </ul>
    <p>Welcome to <%= title %></p>
    <form id="filterForm">
      <input type="text" id="filter">
      <button type="submit" name="button">Filter</button>
      <button type="button" id="clearFilter">Clear</button>
    </form>
    <form id="allusers" method="post">
      <table>
        <thead>
          <tr><td>_oid</td><td>Name</td><td>Nickname</td><td>Selected?</td></tr>
        </thead>
        <tbody>
          <% users.forEach(function (user) { %>
            <tr>
              <td><%= user._oid %></td>
              <td><a id="name" href="/users/<%= user._oid %><%= query %>"><%= user.Name %></a></td>
              <td><%= user.Nickname %></td>
              <td>
                <input
                  type="checkbox"
                  name="selectedUsers"
                  value="<%= user._oid %>"
                  <%= isChecked(user._oid) %>>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <input type="submit" value="Submit">
    </form>
    <script>

      var filterForm = document.querySelector('#filterForm');
      var input = document.querySelector('#filter');
      var rows = document.querySelectorAll('tr');

       /**
        * Filter function to filter table rows based on name.
        * @param {string} value - Value of filter input.
        */
      function filter(value){
        rows.forEach(function(r){
          r.removeAttribute('hidden');
        });
        if (value){
          rows.forEach(function(r){
            var el = r.querySelector('#name');
            if(el && !el.innerText.toLowerCase().replace(' ','').includes(value.replace(' ',''))){
              r.setAttribute('hidden', true);
            }
          });
        }
        localStorage.setItem('filter', value);
      }

      /**
       * Event Listeners
       */

       /**
        * Filter form submit listener/handler.
        */
      filterForm.addEventListener('submit', function(e){
        e.preventDefault();

        var val = input.value;

        filter(val);
      });

      /**
       * Load last filter on page load.
       */
      var storedFilterVal = localStorage.getItem('filter');

      if(storedFilterVal){
        filter(storedFilterVal);
        input.value = storedFilterVal;
      }

      /**
       * Clear filter.
       */
      document.querySelector('#clearFilter').addEventListener('click', function(){
        filter('');
        input.value = '';
      });
    </script>
  </body>
</html>
