<!DOCTYPE html>
<html>
  <head>
    <title>Developer Task Completion Cadence</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <h1>Productivity Cadence Summary for <a href="<%= user.url %>"><%= user.name %></a></h1>
  <h2>Productivity Scores</h2>
  <table>
    <thead>
      <tr><td>Metric</td><td>Score</td><td>Minimum Standard</td></tr>
    </thead>
    <tbody>
      <tr>
        <td>Days With Tasks</td>
        <td><%= scores.daysWithTasksScore %></td>
        <td>45%</td>
      </tr>
      <tr>
        <td>Tasks per Day</td>
        <td><%= scores.meanTasksPerDay %></td>
        <td>0.85</td>
      </tr>
    </tbody>
  </table>
  <h3>Supporting Data</h3>
  <table>
    <thead>
      <tr><td>Measurement</td><td>Value</td><td>Notes</td></tr>
    </thead>
    <tbody>
      <tr>
        <td>Work Days</td>
        <td><%= scores.workDays %></td>
        <td>Calendar days in the interval minus week-ends and company holidays.</td>
      </tr>
      <tr>
        <td>Total Days with Tasks</td>
        <td><%= scores.totalDaysWithTasks %></td>
        <td>Total days in the interval where at least some work was accomplished. Having collaborators may lead to fractional counts.</td>
      </tr>
      <tr>
        <td>Total Tasks</td>
        <td><%= scores.totalTasks %></td>
        <td>Total tasks completed in the interval. Having collaborators may lead to fractional counts.</td>
      </tr>
    </tbody>
  </table>
  <h2>Daily Task Cadence for <a href="<%= user.url %>"><%= user.name %></a></h2>
  <table class="user-task-cadence">
    <thead>
      <tr>
        <td class="user-task-cadence__day-column">Day</td>
        <td class="user-task-cadence__count-column">Count</td>
        <td class="user-task-cadence__id-column">ID</td>
        <td class="user-task-cadence__name-column">Name</td>
        <td class="user-task-cadence__age-column">Age When Completed</td>
        <td>Task Estimate</td>
        <td class="user-task-cadence__collaborators-column">Collaborators</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function (dayData) {%>
        <tr class="<%= dayData.clazz %>">
          <td rowspan=<%= dayData.tasks.length || 1 %> title="<%- dayData.labelDetail %>"><%= dayData.label %></td>
          <td rowspan=<%= dayData.tasks.length || 1 %>><%= dayData.tasks.length %></td>
          <% dayData.tasks.forEach(function (taskData, index) {%>
            <td><a href="<%= taskData.url %>"><%= taskData.number %></a></td>
            <td><a href="<%= taskData.url %>"><%= taskData.name %></a></td>
            <td title="<%- taskData.ageDetail %>"><%= taskData.age %></td>
            <td><%= taskData.taskEstimate %></td>
            <td>
              <% taskData.collaborators.forEach(function (collaborator) { %>
                <a href="<%= collaborator.url %>"><%= collaborator.name %></a>
              <% }); %>
            </td>
            <% if (index < dayData.tasks.length - 1) { %>
              </tr>
              <tr class="<%= dayData.clazz %>">
            <% } %>
          <% }); %>
          <% if (dayData.tasks.length === 0) { %>
            <td></td><td></td><td></td><td></td><td></td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% if (devMode) { %>
    <pre><%= dataString %></pre>
  <% } %>
</body>
</html>